<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.diokhlpass">

    <application
            android:name="com.orm.SugarApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".home.Home">
        </activity>
        <activity android:name=".byt.infoSeats">
        </activity>
        <activity android:name=".byt.select_seat.Select_seat">
        </activity>
        <activity android:name=".byt.Result_buses">
        </activity>
        <activity android:name=".byt.Research_formular">
        </activity>
        <activity android:name=".log.RegisterActivity">
        </activity>
        <activity android:name=".wlcmScreen.Onboarding">
        </activity>
        <activity android:name=".wlcmScreen.Data_preference">
        </activity>
        <activity android:name=".log.PremierPgeActivity">
        </activity>
        <activity android:name=".wlcmScreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="DATABASE"
                android:value="com_example_diokhlpass.db"/>
        <meta-data
                android:name="VERSION"
                android:value="1"/>
        <meta-data
                android:name="QUERY_LOG"
                android:value="true"/>
        <meta-data
                android:name="DOMAIN_PACKAGE_NAME"
                android:value="com.example.diokhlpass.entities"/>
    </application>

</manifest>